.hidden{
  display: none !important;
}
.invisible{
  visibility: hidden !important;
}

.popup_btn.selected {
  background-color: red;
}

#kitchenUtilityBtn.trash{
  background-color: red;
}

#kitchenUtilityBtn.edit{
  background-color: blue;
}

#RecipeDescription {
  font-style: bolder;
  margin-top: 1%;
}

.menu_cooking_btn{
  float:right;width:20%;margin-right:5%;
}

.menu_view_btn{
  float:right;width:20%;margin-right:2%;
}

#searchButton {
    background: "/img/icon_search.jpg" right no-repeat;
    padding-right: 17px;
}
#SearchBarIcon {
  margin-left: 90%;
  margin-top: -37px;
}
.chinese_font {
  font-family:"STHeiti TC", STHeitiTC-Medium;
  color: #333333;
}
.recipe_item {
  height: 50%;
  display:inline-block; 
  width:48%; 
  margin-bottom: -3%; 
}
.recipe_item_container {
  height: 70%;
  background-color: white;
  border-radius: 2px;
}
.recipe_item.left {
  float:left;
}
.recipe_item.right {
  float:right;
}
.recipe_item.long {
  height: 20%;
  width: 100%;
  margin:3px 0px; 
  background-color:white;
  border-radius: 1px;
  box-shadow: 0px 2px 2px;
}
.recipe_image_wrapper{
  margin-top: 5px;
  margin-left: 5%;
  width: 350px;
  max-width: 90%;
  max-height: 95%;
  border-radius: 5px;
}
.recipe_image_wrapper.long {
  margin-top: 2%;
  margin-left: 2%;
  max-width: 35%;
  max-height: 90%;
  float: left;
}
.recipe_descrip{
  margin-left: 5%;
  color:#333333;
  margin-top: 3%;
  font-size:0.4cm;
  font-weight:bolder;
}
.recipe_descrip.long {
  margin-top: 1%;
  margin-left: 40%;
}
.recipe_cooked {
  font-size: 12px;
  text-align: right;
  margin-right: 5%;
  margin-top: 5%;
}
.recipe_time {
  text-align: right;
  margin-right: 1%;
  height: 30%;
}
.kitchen_recipe_item{
  display:inline-block; 
  width:48%; 
  margin:5px 1% 5px 1%; 
  background-color:white;
border-radius: 3px;
  }
.kitchen_recipe_item.left{
  float:left;
}
.kitchen_recipe_item.right{
  float:right;
}
.aDivider{
  display:inline-block;height:0;width:100%;
}

.kitchen_recipe_item.chosen {
  background-color: #DF7401;
  opacity:0.8;
}
.listEle{
  font-size: 20pt;
  font-weight: bolder;
  padding-left : 5%;
}

.cat_icon{
  float: left; width:100%;border-radius:3px;
}
.cat_text{
margin-left:4px;  font-family:helvetica-neue light;padding-top:5px;
}
.cat_wrapper{
display:inline-block; width:20%; margin:5px 1% 5px 3%; float:left;
}
.menu_title{
margin-left:5px;color:#333333;
}
.menu_img{
border-radius:5px;border-radius:5px;max-height:20%;margin-left:3px;
}
.menu_wrapper{
background-color:white;margin:5px;border-radius:5px;
}

.list_row_right{
  float:right;
}

#main_AllCategories a{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333333;
}

#main_AllCategories a:visited{
  color: #333333;
}

.category_box{
  margin: -6px 0px;
  position: relative;
  float: left;
  width: 100%;
  background-color:white;
  border-radius:1px;
  box-shadow: 0px 2px 2px;
}

.menuContent_photos_wrapper{
  display:inline-block;
  width:33%;
  padding:2px 2px 2px 2px;
  float:left;
}

.recipe_item.chosen {
  background-color: #DF7401;
  opacity:0.8;
}

.cat_img{
  float: left;
  width:100%;
}

.menu_btn_wrapper{
  float:left;width:100%;background-color:white;border-radius:5px;
}
.menu_img_wrapper{
  float:left; background-color:white;margin-left:5px;
}
.menu_btn{
  float:right;width:20%;margin-right:5%;
}
.popup_btn {
  display: block;
  position: fixed;
  background-color:#0080FF;
  z-index: 10000;
  width:32px;
  height:32px;
  border-radius:15px;
  color: white;
  text-align: center;
  opacity: 0.75;
 box-shadow:4px 4px 3px rgba(0%,0%,100%,0.4);
}
#popup_btn_trash {
  top: 5px;
  right: 80px;
}
#popup_btn_edit {
  top: 50px;
  right: 50px;
}
.content_border{
background-color:white;border-radius:3px;width:100%;border: 1px solid #D8D8D8;
}
.menuContent_Container{
background-color:white; margin:5px 0 5px 0; padding:2px 2px 2px 2px;border-radius:5px;
}
.menuContent_title{
background-color:#ADD8E6;width:100%;opacity:0.6;border-radius:5px;
}
.menuContent_imgHolder{
background-color:white; margin:5px 0 5px 0;border-radius:3px;border:1px solid #D8D8D8;
}
.menuContent_imgWrapper_left{
display:inline-block; width:25%; margin: 5px auto 5px 10%;
}
.menuContent_imgWrapper_right{
display:inline-block; width:25%; margin: 5px 9% 5px auto;
}
.menuContent_imgText_left{
position:absolute; float:right;
}
.menuContent_imgText_right{
position:absolute; float:left;
}
.menuContent_img{
max-height:100%;max-width:100%;border-radius:5px;
}
.menuContent_photoWrapper{
display:inline-block;width:33%;padding:2px 2px 2px 2px;float:left;"
}
.menuContent_text{
margin-left:2%;
}
.recipeContent_lists{
padding-left:4%;list-style-type:none;
}
.overview_stepWrapper{
background-color:white;
height:15%;
padding-top:2%;
margin-top:2%;
width:98%;
margin-left:1%;
}
.steps_wrapper{
border:1px solid; width:100%;height:5%;border-width: 1px;border-color:silver;
}
.steps_progressbar{
opacity:0.4;background-color:#6699CA;position:absolute;float:left;border-radius:5px;padding-left:5px;margin-left:2px;margin-top:1%;
}
.steps_name{
position:absolute;left:10px;margin-top:1%;
}
.steps_percent{
position:absolute;right:10px;margin-top:1%;
}
.steps_imgWrapper{
margin:3px 20px 3px 20px;border:1px;border-color:silver;
}
.steps_img{
height:80%;margin-left:15%; border-radius:5px;
}
.steps_title{
background-color:silver;margin:3px 20px 3px 20px;margin-top:0%;text-align:center;height:6%;border-radius:3px;
}
.steps_description{
margin:3px 20px 3px 20px;height:5%
}
.steps_container{
background-color:silver; height:75%; border: 1px solid;border-color:silver;
}
.steps_content{
background-color:white;margin:2px 8% 2px 8%;margin-bottom:0px;height:95%;border-radius:3px;
}
.five{
display:inline-block;margin-left:5%;
}
.rate_container{
background-color:white;border-radius:3px;border:1px solid #D8D8D8;
}
.rate_wrapper{
margin:1% 2% 1% 2%;
}
.rate_title{
margin-left:5%;width:50%;display:inline-block;
}
.rate_img{
width:15%;display:inline-block;border-radius:5px;
}
.bottom_btn_holder{
align:center;
}
.h5{
  display:inline-block;
  height:34px;
  font-weight: 250%;
  font-size:15px;
  color:#333333;
  padding:6px 0;
  margin-bottom:8px;
}
.h6{
  display:inline-block;
  height:34px;
  font-weight: bold;
  font-size:20px;
  color:#08298A;
  padding:6px 0;
  margin-bottom:8px;
}

.h7 {
  display:block;
  height:34px;
  font-weight: bold;
  font-size:0.48cm !important;
  color:#333333;
  padding:6px 0;
  margin-bottom:8px;
}

.waiting_step_outer_wrapper{
  height:5%;
  background-color:white;
  border-radius:5px;
}

.waiting_step_inner_wrapper{
  width:100%;
  height:100%;
  border-width: 2px;
  border-color:#D8D8D8;
  border-radius:5px;
  box-shadow:2px 3px 2px -2px rgba(20%,20%,40%,0.5);
}

.waiting_step_progress{
  height:4%;
  opacity:0.4;
  background-color:#A9F5BC;
  position:absolute;
  float:left;
  border-radius:5px;
  padding-left:5px;
  margin-left:4px;
  margin-top:2px;
}

.next_step{
  background-color:#A9BCF5;
}

.next_next_step{
  background-color:#A9F5BC;
}

.waiting_step_name{
  position:absolute;
  left:10px;
  margin-top:2px;
}

.waiting_step_time{
  position:absolute;
  right:10px;
  margin-top:2px;
}

.this_step_outer_wrapper{
  background-color:#5A5A5A;
  height:60%; 
  width:100%;
}

.this_step_inner_wrapper{
  height:95%;
  margin-top:35%;
}

.this_step_recipe_name{
  font-size: 100%;
  height: 45px;
  color: #FF8000;
  margin:3px 20px 8px 20px;
  text-align:center;
  height:6%;
}

.this_step_img_wrapper{
  border:1px;
  border-color:#E6E6E6;
  margin-top:5px;
  text-align: center;
}

.this_step_img{
  height:65%;
  max-width:97%;
  border-radius:5px;
}

.this_step_digest{
  font-size: 0.7cm;
  margin:8px 20px 3px 20px;
  height:auto;
  color: #FFFFFF;
  text-align: center;
}

.next_step_outer_wrapper{
  position: absolute;
  bottom: 0%;
  margin-bottom: 94px;
  height:5%; 
  
  width:100%;
}

.next_step_inner_wrapper{
  background-color:white;
  height:95%;
  margin-top:3px;
  border-width: 2px;
  border-radius:5px;
  border-color:#D8D8D8;
  box-shadow:4px 2px 3px -2px rgba(20%,20%,40%,0.5);
}

.next_step_progress{
  height:85%;
  opacity:0.4;
  background-color:#58ACFA;
  position:absolute;
  float:left;
  border-radius:5px;
  padding-left:5px;
  margin-left:4px;
  margin-top:2px;
}

.next_step_name{
  position:absolute;
  left:10px;
  margin-top:1%;
}

.next_step_time{
  position:absolute;
  right:10px;
  margin-top:1%;
}

.step_spacer{
  width:100%;
  height:1%;
}

.step_next_btn_wrapper{
  width: 100%;
  bottom: 0%;
  position: absolute;
  height:20%;
  margin-bottom:5px;
}

.step_next_btn{
  font-size: 36px;
  bottom: 0%;
  height: 70px;
  line-height: 52px;
  width:100%;
  background-color:#58ACFA;
  border-radius: 8px !important;
}

.step_next_btn_click {
  font-size: 36px;
  bottom: 0%;
  height: 70px;
  line-height: 52px;
  width:100%;
  background-color:#58ACFA;
  border-radius: 8px !important;
  opacity: .8;
}
/*for tablets*/
/*@media screen and (min-width: 1080) {

}*/
/*for big screen like note3*/
/*@media screen and (min-width: 1080) and (-webkit-min-device-pixel-ratio: 2) {
  .recipe_item_container_bs {
    height: 26%;
    background-color: white;
    border-radius: 2px;
  }
}*/
/*for iphone4*/
/*@media screen and (max-height: 1080) {

}*/